.List_product_section {
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .navbar_pro {
        width: 98%;
        height: 76px;
        background-color: white;
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .title_pro_pages {
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 32px;
                font-weight: 500;
                margin: 12px 0;
            }
        }
        .search_product_admin {
            height: 100%;
            width: 12%;
            display: flex;
            justify-content: center;
            align-items: center;
            // input {
            //     margin: 8px;
            //     padding: 8px;
            //     border-radius: 12px;
            //     border: 2px solid rgb(104, 100, 100);
            //     width: 50%;
            // }
            // .btn_search_product {
            //     height: 100%;
            //     width: 20%;
            //     margin-left: 12px;
            //     display: flex;
            //     align-items: center;
            //     font-size: 24px;
            //     cursor: pointer;
            //     span {
            //         background-color: #eff2f1;
            //         color: black;
            //         padding: 3px 10px;
            //         border-radius: 20px;
            //     }
            // }
            .btn_addNew_product {
                height: 100%;
                width: 80%;
                display: flex;
                align-items: center;
                cursor: pointer;
                button {
                    font-size: 24px;
                    border: none;
                    background-color: #eff2f1;
                    color: black;
                    padding: 3px 10px;
                    border-radius: 20px;
                }
            }
        }
    }
    .show_list_product {
        width: 98%;
        height: calc(100% - 100px);
        background-color: white;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        .header_list_product {
            width: 96%;
            height: 76px;
            border-bottom: 3px solid black;
            padding-bottom: 8px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            span {
                font-size: 24px;
                font-weight: 500;
            }
            .item_header_admin {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80%;
            }
            .product_stt {
                width: 4%;
            }
            .product_avatar {
                width: 340px;
            }
            .product_name {
                width: 17%;
            }
            .option_show {
                width: 10%;
            }
            .product_des {
                width: 28%;
            }
            .product_active {
                width: 10%;
            }
            .product_option {
                width: 10%;
            }
        }
        .content_list_product {
            width: 96%;
            height: calc(100% - 140px);
            margin: 10px 0;
            .product_item_admin {
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 2px solid rgba(104, 100, 100, 0.5);
                padding-bottom: 8px;
                margin-bottom: 8px;
                span {
                    font-size: 24px;
                    font-weight: 500;
                }
                .item_header_admin {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
                .product_stt {
                    width: 4%;
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                .product_avatar {
                    width: 340px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 100%;
                        max-width: 42%;
                        // border: 2px solid black;
                    }
                }
                .product_name {
                    width: 17%;
                    span {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .option_show {
                    width: 10%;
                    span {
                        width: 100px;
                        height: 40px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        border-radius: 20px;
                        background-color: #dee2e1;
                        font-size: 20px;
                    }
                }
                .product_des {
                    width: 28%;
                    display: flex;
                    justify-content: center;
                    span {
                        width: 80%;
                        font-size: 18px;
                        max-height: 100%;
                        overflow: hidden;
                        overflow-y: auto;
                        display: flex;
                        justify-content: center;
                    }
                }
                .product_active {
                    width: 10%;
                    .active-button {
                        width: 100px;
                        height: 40px;
                        border: none;
                        border-radius: 20px;
                       background-color: #dee2e1;
                        // color:black;
                        // font-weight: bold;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .active-button.active {
                        background-color: rgb(37, 222, 37);
                        color: #fff;
                    }
                }
                .product_option {
                    width: 10%;
                    .edit_btn {
                        width: 100px;
                        height: 40px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        border-radius: 20px;
                        background-color: #dee2e1;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.page_box {
    margin: 8px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 30px;
    span {
        margin: 0 12px;
        cursor: pointer;
    }
    svg {
        margin: 0 4px;
        font-size: 24px;
    }
    .item_page {
        &.active {
            background-color: rgba(rgb(251, 3, 3), 0.8);
            padding: 1px 8px;
            border-radius: 50%;
        }
    }
}
